
/*
btn color: #808000
Navigation: #e1a564
background: #fffff0
hover: #d79c5e

*/

/* @import url('https://fonts.googleapis.com/css?family=Open+Sans|Quicksand|Raleway&display=swap'); */


*{
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-size: 16px;
}
body{
    background-color: #ffff!important;
}


/* ------------------Media tag------------ */
@media only screen and (max-width: 768px) {

#navbarNav .nav-link{
  font-size: 16px!important;
}

#dte-logo{
  display: none!important;
}

#header .col-md-4 img{
  width: auto!important;
  height: auto!important;
}
#header h3{
  font-size: 140%!important;
}

} 





input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

/*----------------------Header---------------*/
#header{
    margin: 0;
    padding: 1em;
}

#header .col-md-4 img{
    height: 9vw;
    width: 9vw;

}
#header h3{
    margin: 1.5em auto auto auto;
    font-size: 2.1vw;
    text-align: center;
    display: block;
    font-weight: 500;
    
}

/*-------------------examination header--------------*/
#examination-header{
    background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0, 0.2)), url(../img/header.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    overflow-x: hidden;
}

#examination-header h3{
    font-size: 2.9vw;
    color: white;
    margin: 1.2em;
    font-weight: 550;
    padding: 1.5em auto auto 1.5em;
}
/*--------------navbar------------------ */
#navbarNav ul li{
    margin: auto 2em;
}
.navbar{
    background-color: #bc497d!important;

}
#navbarNav ul{
      padding: 0;
      margin: auto;
      list-style: none;
} 
#navbarNav ul li a{
    padding: 0.3em;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    font-size: 1.3vw;
    color: #000000;
}
#navbarNav ul li a:hover{
    background-color: #862350;
    text-decoration: none;
    color: #ffffff;
}

/*-------------------User-login-------------------*/

#user-login .login-form{
  width: 80%;
  background: white;
  height:580px;
  padding:80px  40px;
  border: 2px solid #d79c5e ;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.7;
  filter: alpha(opacity=70);
  margin-top: 80px;
  margin-bottom: 50px;
}
#user-login .login-form h1{
  text-align: center;
  margin-bottom: 60px;
}
#user-login .txtb{
  border-bottom: 2px solid #adadad;
  position: relative;
  margin:30px 0;
}
#user-login .txtb input{
  font-size: 20px;
  color: #333;
  border: none;
  width: 100%;
  background: none;
  height:30px;
  outline:none;
}
#user-login .txtb span::before{
  content: attr(data-placeholder);
  position: absolute;
  top:50%;
  left: 5px;
  color:#adadad;
  transform: translateY(-50%);
  z-index: -1;
  transition: .5s;
}
#user-login .txtb span::after{
  content:'';
  position: absolute;
  width: 0px;
  height:2px;
  transition: .5s;
}
#user-login .focus + span::before{
  top: -5px;
}
#user-login .focus + span::after{
  width: 100%;
}
#user-login .lgnbtn{
  display: block;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border: none;
  background:  linear-gradient(120deg,#808000,black);
  color:#fff;
  outline:none;
  cursor:pointer;
  font-size: 20px;

}
#user-login .sgn{
  display: block;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  height: 40px;
  border: none;
  background:  linear-gradient(120deg,black,#808000);
  color:#fff;
  outline:none;
  cursor:pointer;
  transition: .5s;
  font-size: 20px;

}
#user-login hr{

  height: 0.8px;
  background: #333;
}

/*----------------------Sign Up------------------*/

#signup .signup-form{
    margin: 10px;
    width: 95%;
    background:#f1f1f1;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    padding:60px 40px;
    border-radius: 20px;
    border: 2px solid #d79c5e;
    opacity: 0.7;
    filter: alpha(opacity=50);
    margin-top: 80px;
    margin-bottom: 50px;
}
#signup .signup-form h1{
  text-align: left;
  margin-bottom: 20px;
}
#signup .signup .form-row label{
    margin-top: 20px;
}
#signup .login-form select{
  margin: 10px;
  padding:2px;
}
#signup .signup input[type="submit"]{
    margin-top: 40px;
    width:50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    color: white;
    border: none;
    outline: none;
    font-size: 140%;
    background:linear-gradient(120deg,#808000,black);
}



/*--------------Updates and Resources-----------*/

#updates-table{
    margin: 40px 20px;
    padding: 30px;
    background-color: white;
    width: 95%;
    border: 2px solid #d79c5e;
    border-radius: 20px;
    margin-top: 80px;
    margin-left: auto;
    margin-right: auto;
  }

#updates-table button{
  cursor: pointer;
  color: white;
  background-color: #afb42b;
  border-radius: 10px;
  border: none;
  padding: 0.7rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
  font-size: 120%;

}
#updates-table button:hover{
    background: #9e9d24; 
    
}
#updates-table table thead th{
    font-size: 1.3rem;
}
#updates-table label{
    font-size: 20px;
    font-weight: 550;
    margin-bottom: 5px;
}
#updates-table textarea + button, table + label + input + button{
    font-size: 20px;
    padding: 10px;
    margin: 30px auto;
    
}
#updates-table input[type="file"]{
    outline: none;
    border: none;
    font-size: 110%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#updates-table strong {
  font-size: 100%;
}

#updates-table h2{
  font-size: 200%;
  display: block;
  margin: 5% auto;
  margin-left: auto;
  margin-right: auto;
}

.rview{
  font-size: 100%;
  cursor: pointer;
  color: white;
  background-color: #afb42b;
  padding: 0.7em 0.9em;
  margin: 2em auto;
  border-radius: 20px;
  border: none;
  text-decoration: none;
  margin-top: 5%;
}
.rview:hover{
  background: #9e9d24; 
  color: white;
  text-decoration: none;
}

/* -------------Important Updates------------ */
.updates{
    margin-top: 80px;        
    border-radius: 1em;
    display: "block";
    margin-left: auto;
    margin-right: auto;
    min-height: 500px;
    height: auto;
    padding: 20px;
    border: 2px solid #d79c5e;
    margin-bottom: 50px;
    opacity: 0.8;
}

.updates ul{
    padding: 5px 5px 5px 5px;
    text-align: left;
    list-style: none;
}
.updates h4{
    text-align: center;  
    font-weight: 600;
}
.updates li{
  font-size: 110%;
  margin: 10px auto;
}
#imp_n{
  font-size: 130%;
  font-weight: 600;
  color: rgb(0, 153, 102);
  box-shadow: 1px #ef6c00;
}
#up_li{
  font-size: 120%;
  font-weight: 550;

}
.home-left{

  margin-top: 80px;        
  border-radius: 1em;
  display: "block";
  margin-left: auto;
  margin-right: auto;
  min-height: 500px;
  height: auto;
  padding: 20px;
  border: 2px solid #d79c5e;
  margin-bottom: 50px;
  opacity: 0.8;
  font-size: 120%;

}

.home-left ul{
    padding: 0.7rem 2rem;
  }
.home-left ul li{

  font-size: 120%;
  }
/* --------------student resource-------------*/
.student_resource{
  width: auto;
  background: #FF8033;
  overflow: auto;
  margin-top: 80px;
  }
  .student_resource ul{
  padding: 0;
  margin: 0;
  list-style: none;
  }
  .student_resource li {
    border: 1px solid #ef6c00;
  }
  .student_resource li a{
  display: block;
  color: black;
  font-size: 1.2em;
  text-align: center;
  text-decoration: none;
  padding:1em;
  font-weight: 540;
  text-transform: uppercase;
  }
  .student_resource li a:hover{
  background-color: #ef6c00;
  color: white;
  text-decoration: none;
  }


  /* ---------Validation------- */



.error {
    color: red;
    font-size: inherit;
    margin-left: 1.5rem;
}


.notification {
    font-size: 1.4rem;
    text-align: center;
    background-color: #999;
    border-left: 10px solid #ef6c00;
    color: #fff;
    padding: 1rem 2rem;
    margin: 1rem 0;
}



/* -----Login------- */
#home .content{

  padding: 30px;
  margin: 20px auto;
  box-sizing: border-box;
  box-shadow: 0px 2px 5px 0px  rgba(0,0,0,0.2);
  background-color: #fff;

}
#home .content .heading{
  text-transform: uppercase;
  text-align: center;
  margin: 10px auto;
  padding: 2px;
  color: #333;
}

#home .content input{
  margin: 15px auto;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  outline: none;
}

#home .content .forgot-password{
  float: right;
  text-decoration: none;
  margin: 5px auto;
  
}
#home .content .login-cta{
  margin-bottom: 20px!important;
  padding-bottom: 20px;
  float: right;
}
#home .content .login-cta a{
  text-decoration: none;
  
}

#home .content .input-submit{
  margin: 10px auto;
  margin-top: 20px;
  display: block;
  background-color: #0080FF;
}

#home .content .input-submit:hover{
  background-color: #0F52BA;
}
#home .content .g-recaptcha{
  margin-bottom: 10px!important;
}




/* ----------------profile---------------------- */
.profile{
  margin-top: 20px;
}
.profile h2{
  text-align: center;
}
.profile button{
  margin: 10px auto;
  display: block;
  
}

#home{
  background: #005AA7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FFFDE4, #005AA7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}